section {
    display: flex;
}

.leftbar {
    background-color: rgb(217, 219, 226);
    font-size: 19px;
    padding: 20px;
}

.leftbar ul {
    width: 150px;
}

.material_lesson {
    padding: 20px;
    font-size: 18px;
}

.material_lesson p {
    padding: 10px;
    font-size: 18px;
    text-indent: 20px;
}

.exemple p a {
    padding-left: 800px;
    color: red;
    font-weight: bold;
    text-decoration: none;
}