section {
    width: 100%;
    display: flex;
}

.leftbar {
    width: 200px;
    background-color: rgb(217, 219, 226);
    font-size: 19px;
    padding: 20px;
}

.synopses {
    display: flex;
}

.img {
    padding: 20px;
}

.img a img {
    height: 300px;
    border: 2px solid #fff;
}