* {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 auto;
}

.navbar {
    padding: 0 3%;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.navbar-toggler {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #cc3333 !important;
    background-color: #cc3333 !important;
    border-color: #cc3333 !important;
}

.navbar-toggler-icon {
    width: 22px;
    background-image: url("../Image/menu.png") !important;
}

.nav-link {
    text-decoration: none;
    color: #000 !important;
    font-size: 25px;
    font-weight: 600;
}

.nav-link:hover {
    color: #cc3333 !important;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-search {
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon-search-link {
    position: relative;
}

.icon-search-link:hover>.submenu {
    display: block;
}

.icon__link {
    display: block;
}

.icon-search .submenu {
    position: absolute;
    display: none;
}

.icon-search .submenu.submenu-down {
    top: 225%;
    left: -65%;
}

.submenu li {
    list-style: none;
}

.search__color {
    width: 175px;
    border: 1px solid #cc3333;
    color: #cc3333;
    text-transform: uppercase;
}

.social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.vk {
    width: 38px;
    height: 37px;
    background-image: url("../Image/vk.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.vk a img {
    opacity: 0;
}

.vk:hover {
    background-image: url("../Image/vk_наводка.png");
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.fb {
    width: 38px;
    height: 37px;
    background-image: url("../Image/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.fb a img {
    opacity: 0;
}

.fb:hover {
    background-image: url("../Image/facebook_наводка.png");
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.inst {
    width: 38px;
    height: 37px;
    background-image: url("../Image/instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.inst a img {
    opacity: 0;
}

.inst:hover {
    background-image: url("../Image/instagram_наводка.png");
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.carousel-caption {
    left: 8% !important;
    right: 8% !important;
    text-transform: uppercase;
}

.btn {
    font-weight: 600;
    float: right;
}

.btn:hover {
    background-color: #cc3333;
    border: 1px solid #cc3333;
}

.text-danger:hover {
    color: #fff !important;
}

.arrow {
    display: inline-block;
    position: relative;
    width: auto;
    top: -90px;
    left: 40%;
}

.arrow-circle-left {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../Image/Вправо.png");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 10px;
}

.arrow-circle-left:hover {
    background-image: url("../Image/Влево.png");
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.arrow-circle-right {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../Image/Вправо.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.arrow-circle-right:hover {
    background-image: url("../Image/Влево.png");
    -webkit-transform: rotate(180deg) scale(0.8);
    -ms-transform: rotate(180deg) scale(0.8);
    transform: rotate(180deg) scale(0.8);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@media screen and (max-width:993px) {
    .header {
        margin: 0 auto;
    }
    .navbar {
        padding: 0 5%;
        position: relative;
        width: 100%;
        background-color: #f9f9f9;
        z-index: 100;
    }
    .navbar-toggler {
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #cc3333 !important;
        background-color: #cc3333 !important;
        border-color: #cc3333 !important;
    }
    .navbar>.container-fluid {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }
    .navbar-toggler-icon {
        width: 22px;
        background-image: url("../Image/menu.png") !important;
    }
    .navbar-nav {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    .nav-link {
        text-decoration: none;
        color: #000 !important;
        font-size: 25px;
        font-weight: 600;
    }
    .line {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #e0e0e0 !important;
    }
    .nav-link:hover {
        color: #cc3333 !important;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
    }
    .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .icon-search {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .icon-search-link {
        position: relative;
    }
    .icon-search-link:hover>.submenu {
        display: block;
    }
    .icon__link {
        display: block;
    }
    .icon-search .submenu {
        position: absolute;
        display: none;
    }
    .icon-search .submenu.submenu-down {
        top: 225%;
        left: -365%;
    }
    .submenu li {
        list-style: none;
    }
    .search__color {
        width: 175px;
        border: 1px solid #cc3333;
        color: #cc3333;
        text-transform: uppercase;
    }
    .social-icon {
        display: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .vk {
        width: 38px;
        height: 37px;
        background-image: url("../Image/vk.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .vk a img {
        opacity: 0;
    }
    .vk:hover {
        background-image: url("../Image/vk_наводка.png");
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .fb {
        width: 38px;
        height: 37px;
        background-image: url("../Image/facebook.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fb a img {
        opacity: 0;
    }
    .fb:hover {
        background-image: url("../Image/facebook_наводка.png");
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .inst {
        width: 38px;
        height: 37px;
        background-image: url("../Image/instagram.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inst a img {
        opacity: 0;
    }
    .inst:hover {
        background-image: url("../Image/instagram_наводка.png");
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
    .carousel-caption {
        left: 4% !important;
        right: 4% !important;
        text-transform: uppercase;
    }
    .carousel-caption h2 {
        font-size: 4vw;
    }
    .carousel-caption h3 {
        font-size: 3vw;
    }
    .btn {
        width: auto;
        font-size: 3vw;
        font-weight: 600;
        float: right;
    }
    .btn:hover {
        background-color: #cc3333;
        border: 1px solid #cc3333;
    }
    .text-danger:hover {
        color: #fff !important;
    }
    .arrow {
        display: inline-block;
        position: relative;
        width: auto;
        top: -90px;
        left: 35%;
    }
    .arrow-circle-left {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url("../Image/Вправо.png");
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-right: 10px;
    }
    .arrow-circle-left:hover {
        background-image: url("../Image/Влево.png");
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .arrow-circle-right {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url("../Image/Вправо.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
    .arrow-circle-right:hover {
        background-image: url("../Image/Влево.png");
        -webkit-transform: rotate(180deg) scale(0.8);
        -ms-transform: rotate(180deg) scale(0.8);
        transform: rotate(180deg) scale(0.8);
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}

@media screen and (max-width:500px) {
    .icon-search .submenu.submenu-down {
        top: 225%;
        left: -365%;
    }
    .carousel-caption {
        left: 8% !important;
        right: 8% !important;
        text-transform: uppercase;
    }
    .carousel-caption h2 {
        font-size: small;
    }
    .carousel-caption h3 {
        font-size: small;
    }
    .btn {
        width: auto;
        font-size: small;
        font-weight: 600;
        float: right;
    }
    .btn:hover {
        background-color: #cc3333;
        border: 1px solid #cc3333;
    }
    .text-danger:hover {
        color: #fff !important;
    }
    .arrow {
        display: inline-block;
        position: relative;
        width: auto;
        top: -80px;
        left: 30%;
    }
    .arrow-circle-left {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: url("../Image/Вправо.png");
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-right: 10px;
    }
    .arrow-circle-left:hover {
        background-image: url("../Image/Влево.png");
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .arrow-circle-right {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-image: url("../Image/Вправо.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
    .arrow-circle-right:hover {
        background-image: url("../Image/Влево.png");
        -webkit-transform: rotate(180deg) scale(0.8);
        -ms-transform: rotate(180deg) scale(0.8);
        transform: rotate(180deg) scale(0.8);
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
}


/*SECTION №2*/

.section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section1-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio-line-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.portfolio-line-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.line__red {
    margin: 3px 5px;
}

.line__black {
    margin: 3px 5px;
}

.section1-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0 100px 0;
}

.bg__photo {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-2 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-2:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-3 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-3:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-4 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото4.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-4:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-5 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото5.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-5:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-6 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото6.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-6:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-7 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото7.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-7:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-8 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото8.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-8:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-9 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото9.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-9:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-10 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото10.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-10:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-11 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото11.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-11:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.bg__photo-12 {
    width: 270px;
    height: 270px;
    background-image: url("../Image/Фото12.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg__photo-12:hover>.attunuation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.attunuation__text {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.attunuation__text h3 {
    text-transform: uppercase;
    color: #fff;
    margin: 5px;
}

.attunuation__text .btn:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

@media screen and (max-width:1105px) {
    .bg__photo {
        width: 230px;
        height: 230px;
    }
    .bg__photo-2 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-3 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-4 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-5 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-6 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-7 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-8 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-9 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-10 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-11 {
        width: 230px;
        height: 230px;
    }
    .bg__photo-12 {
        width: 230px;
        height: 230px;
    }
    .attunuation__text h3 {
        font-size: x-large;
    }
    .attunuation__text .btn {
        width: auto;
        font-size: x-large;
    }
}

@media screen and (max-width:944px) {
    .bg__photo {
        width: 190px;
        height: 190px;
    }
    .bg__photo-2 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-3 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-4 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-5 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-6 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-7 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-8 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-9 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-10 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-11 {
        width: 190px;
        height: 190px;
    }
    .bg__photo-12 {
        width: 190px;
        height: 190px;
    }
    .attunuation__text h3 {
        font-size: large;
    }
    .attunuation__text .btn {
        width: auto;
        font-size: large;
    }
}

@media screen and (max-width:784px) {
    .bg__photo {
        width: 155px;
        height: 155px;
    }
    .bg__photo-2 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-3 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-4 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-5 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-6 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-7 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-8 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-9 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-10 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-11 {
        width: 155px;
        height: 155px;
    }
    .bg__photo-12 {
        width: 155px;
        height: 155px;
    }
    .attunuation__text h3 {
        font-size: medium;
    }
    .attunuation__text .btn {
        width: auto;
        font-size: medium;
    }
}

@media screen and (max-width:644px) {
    .bg__photo {
        width: 125px;
        height: 125px;
    }
    .bg__photo-2 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-3 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-4 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-5 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-6 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-7 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-8 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-9 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-10 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-11 {
        width: 125px;
        height: 125px;
    }
    .bg__photo-12 {
        width: 125px;
        height: 125px;
    }
    .attunuation__text h3 {
        font-size: small;
    }
    .attunuation__text .btn {
        width: auto;
        font-size: small;
    }
}

@media screen and (max-width:524px) {
    .bg__photo {
        width: 170px;
        height: 170px;
    }
    .bg__photo-2 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-3 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-4 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-5 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-6 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-7 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-8 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-9 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-10 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-11 {
        width: 170px;
        height: 170px;
    }
    .bg__photo-12 {
        width: 170px;
        height: 170px;
    }
    .attunuation__text h3 {
        font-size: large;
    }
    .attunuation__text .btn {
        width: auto;
        font-size: large;
    }
}


/*SECTION №3*/

.section2__backgraund {
    width: 100%;
    background-image: url("../Image/Фон.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section2-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.services-line-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.services-line-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.line__red {
    margin: 3px 8px;
}

.line__white {
    margin: 3px 8px;
}

.section2-services__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reportage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reportage__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой5.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.reportage__icon:hover::after {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../Image/photo-camera.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 17%;
    top: 17%;
}

.portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.portrait__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.portrait__icon:hover::after {
    content: "";
    width: 38px;
    height: 38px;
    background-image: url("../Image/camera-portrait-mode.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 20%;
    top: 20%;
}

.individual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.individual__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-4.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.individual__icon:hover::after {
    content: "";
    width: 37px;
    height: 37px;
    background-image: url("../Image/one-man-walking.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 21%;
    top: 21%;
}

.advertising {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advertising__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.advertising__icon:hover::after {
    content: "";
    width: 41px;
    height: 41px;
    background-image: url("../Image/fashion.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 18%;
    top: 19%;
}

.love {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.love__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-5.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.love__icon:hover::after {
    content: "";
    width: 39px;
    height: 36px;
    background-image: url("../Image/like.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 20%;
    top: 26%;
}

.nu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nu__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-6.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.nu__icon:hover::after {
    content: "";
    width: 44px;
    height: 38px;
    background-image: url("../Image/shapes.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 17%;
    top: 23%;
}

.studio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.studio__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-7.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.studio__icon:hover::after {
    content: "";
    width: 47px;
    height: 41px;
    background-image: url("../Image/buildings.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 13.5%;
    top: 19%;
}

.child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.child__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-8.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.child__icon:hover::after {
    content: "";
    width: 36px;
    height: 32px;
    background-image: url("../Image/kids-couple.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 22%;
    top: 25%;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-9.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.form__icon:hover::after {
    content: "";
    width: 44px;
    height: 41px;
    background-image: url("../Image/the-joker.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 17%;
    top: 19%;
}

.newborn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.newborn__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-10.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.newborn__icon:hover::after {
    content: "";
    width: 42px;
    height: 42px;
    background-image: url("../Image/newborn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 17%;
    top: 18%;
}

.model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.model__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-11.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.model__icon:hover::after {
    content: "";
    width: 40px;
    height: 37px;
    background-image: url("../Image/model.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 19%;
    top: 21%;
}

.wedding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wedding__icon {
    width: 65px;
    height: 65px;
    background-image: url("../Image/Слой-5-копия-12.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.wedding__icon:hover::after {
    content: "";
    width: 44px;
    height: 38px;
    background-image: url("../Image/newlyweds.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 17%;
    top: 21%;
}

@media screen and (max-width:768px) {
    .newborn {
        display: none;
    }
    .model {
        display: none;
    }
    .wedding {
        display: none;
    }
    h6 {
        font-size: small;
    }
}

@media screen and (max-width:500px) {
    .reportage {
        width: 170px;
    }
    .portrait {
        width: 170px;
    }
    .individual {
        width: 170px;
    }
    .advertising {
        width: 170px;
    }
    .love {
        width: 170px;
    }
    .nu {
        width: 170px;
    }
    .studio {
        width: 170px;
    }
    .child {
        width: 170px;
    }
    .form {
        width: 170px;
    }
}


/*SECTION №4 */

.section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section3-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-line-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.contact-line-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.line__red {
    margin: 3px 5px;
}

.line__black {
    margin: 3px 5px;
}

.section3-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.form-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.button__vk {
    width: 120px;
    height: 60px;
    background-image: url("../Image/VK.1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button__vk a img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.button__vk:hover {
    background-image: url("../Image/VK.2.png");
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.button__fb {
    width: 120px;
    height: 60px;
    background-image: url("../Image/Facebook.1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button__fb a img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.button__fb:hover {
    background-image: url("../Image/Facebook.2.png");
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.button__inst {
    width: 120px;
    height: 60px;
    background-image: url("../Image/Instagram.1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button__inst a img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.button__inst:hover {
    background-image: url("../Image/Instagram.2.png");
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form-textarea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form-textarea h2 {
    text-transform: uppercase;
    color: #cc3333;
}

.form-floating>label {
    color: #cc3333;
    font-weight: 500;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cc3333;
    border-radius: 0;
}

.textarea__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width:768px) {
    .form-floating>label {
        font-size: small;
    }
    .textarea__button {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width:500px) {
    .section3-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .form-button {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    .button__vk {
        width: 100px;
        height: 50px;
    }
    .button__fb {
        margin: 0 10px;
        width: 100px;
        height: 50px;
    }
    .button__inst {
        width: 100px;
        height: 50px;
    }
    .form-textarea {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        margin: 0;
    }
    .form-textarea h2 {
        text-align: center;
    }
    .form-floating>label {
        font-size: x-small;
    }
    .textarea__button {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.footer-background {
    width: 100%;
    background-image: url("../Image/Фон-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-text h4 {
    margin: 0;
    font-size: large;
    text-transform: uppercase;
    color: #fff;
}

.footer-text h6 {
    margin: 0;
    font-size: large;
    text-transform: uppercase;
    color: #fff;
}

.footer-text p {
    margin: 0;
    font-size: x-small;
    text-transform: uppercase;
    color: #fff;
}