* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header .container {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    font-size: 0;
}

header .container .logo {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    padding: 0 0 0 115px;
}

header .container .logo .bg_logo {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #5094f2;
    text-align: center;
    line-height: 100%;
    font-size: 70px;
    color: #fff;
}

header .container .logo .name_logo {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 20px;
}

header .container .logo .name_logo h1 {
    font-size: 42px;
    font-weight: normal;
}

header .container .link {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    text-align: right;
    padding: 0 115px 0 0;
}

header .container .link a {
    font-size: 20px;
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: #6c6c6c;
}

header .container .link a:hover {
    transition: 0.2s linear;
    box-shadow: 0 20px 0 -10px #5094f2;
}

@media screen and (max-width:1280px) {
    header .container {
        box-sizing: border-box;
        max-width: 100%;
    }
    header .container .logo {
        max-width: 50%;
    }
    header .container .logo .bg_logo {
        max-width: 45px;
        max-height: 45px;
    }
    header .container .link {
        max-width: 50%;
    }
}

@media screen and (max-width:768px) {
    header .container {
        max-width: 100%;
        padding: 10px 10px 10px 30px;
    }
    header .container .logo {
        max-width: 50%;
        padding: 0;
    }
    header .container .logo .bg_logo {
        max-width: 40px;
        max-height: 40px;
        font-size: 50px;
    }
    header .container .logo .name_logo {
        padding: 0 0 0 10px;
    }
    header .container .logo .name_logo h1 {
        font-size: 28px;
    }
    header .container .link {
        position: relative;
        top: 0;
        left: 27%;
        max-width: 30%;
        padding: 0;
        width: 60px;
        height: 45px;
        background-color: #5094f2;
        border-radius: 10px;
        border: 1px solid #5094f2;
    }
    header .container .link::before,
    .link::after {
        content: '';
        width: 40px;
        height: 6px;
        margin: 6px 9px;
        display: block;
        box-shadow: 0 12px 0#fff;
    }
    header .container .link::before {
        background-color: #fff;
    }
    header .container .link a {
        display: none;
        font-size: 20px;
        padding: 0 15px 0 15px;
        text-decoration: none;
        color: #6c6c6c;
    }
    header .container .link a:hover {
        transition: 0.2s linear;
        box-shadow: 0 20px 0 -10px #5094f2;
    }
}


/*SECTION*/


/*№1*/

section .container {
    box-sizing: border-box;
    width: 100%;
}

section .container .bg_photo_text {
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    display: block;
    background-image: url("../Image/dsfsdfsdfds.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
}

section .container .bg_photo_text .iphone {
    box-sizing: border-box;
    width: 25%;
    margin: 3% 5% 0 7%;
    display: inline-block;
    background-image: url("../Image/iphone.png");
    background-repeat: no-repeat;
    background-size: contain;
}

section .container .bg_photo_text .iphone img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

section .container .text_name_button {
    display: inline-block;
    vertical-align: top;
    margin: 8% 0 0 7%;
}

section .container .text_name_button h2 {
    font-size: 3vw;
    font-weight: normal;
    color: #fff;
    padding-bottom: 2%;
}

section .container .text_name_button p {
    font-size: 2vw;
    color: #fff;
    line-height: 40px;
}

section .container .text_name_button .bg_button_shape {
    box-sizing: border-box;
    display: block;
    width: 340px;
    text-align: center;
    background-color: #5094f2;
    padding: 7px;
    margin: 5% 0 0 5%;
}

section .container .text_name_button .bg_button_shape:hover {
    box-shadow: 0 0 10px #fff;
    transition: 0.2 linear;
}

section .container .text_name_button .bg_button {
    background-color: #5094f2;
    width: 25px;
    height: 25px;
    background-image: url("../Image/Shape\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

section .container .text_name_button .bg_button img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

section .container .text_name_button .button_block {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

section .container .text_name_button .button_block form .button {
    background-color: #5094f2;
    font-size: 2vw;
    border: 1px solid #5094f2;
    color: #fff;
}

section .container .bg_photo_text .layer_left {
    position: relative;
    left: 5%;
    bottom: 180px;
}

section .container .bg_photo_text .layer_left:hover {
    transition: 0.2s linear;
    transform: scale(0.8);
}

section .container .bg_photo_text .layer_right {
    position: relative;
    left: 90%;
    bottom: 180px;
}

section .container .bg_photo_text .layer_right:hover {
    transition: 0.2s linear;
    transform: scale(0.8);
}

@media screen and (max-width:1280px) {
    section .container .bg_photo_text {
        max-width: 100%;
    }
    section .container .bg_photo_text .iphone img {
        max-width: 100%;
        max-height: 100%;
    }
    section .container .text_name_button .bg_button_shape {
        max-width: 25vw;
    }
    section .container .text_name_button .bg_button {
        max-width: 25px;
        max-height: 25px;
    }
    section .container .text_name_button .bg_button img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width:768px) {
    section .container {
        max-width: 100%;
    }
    section .container .bg_photo_text {
        max-width: 100%;
    }
    section .container .bg_photo_text .iphone {
        box-sizing: border-box;
        max-width: 25%;
        margin: 2% 0 0 5%;
    }
    section .container .bg_photo_text .iphone img {
        max-width: 100%;
        max-height: 100%;
    }
    section .container .text_name_button {
        display: inline-block;
        vertical-align: top;
        margin: 3% 0 0 10%;
    }
    section .container .text_name_button h2 {
        font-size: 4vw;
    }
    section .container .text_name_button p {
        font-size: 3vw;
        line-height: 40px;
    }
    section .container .text_name_button .bg_button_shape {
        max-width: 40vw;
    }
    section .container .text_name_button .bg_button {
        max-width: 4vw;
        max-height: 4vw;
    }
    section .container .text_name_button .button_block form .button {
        font-size: 3vw;
    }
    section .container .bg_photo_text .layer_left {
        display: none;
    }
    section .container .bg_photo_text .layer_right {
        display: none;
    }
}

@media screen and (max-width:470px) {
    section .container {
        max-width: 100%;
    }
    section .container .bg_photo_text {
        max-width: 100%;
    }
    section .container .bg_photo_text .iphone {
        box-sizing: border-box;
        min-width: 130px;
        margin: 2% 0 0 2%;
    }
    section .container .bg_photo_text .iphone img {
        max-width: 100%;
        max-height: 100%;
    }
    section .container .text_name_button {
        display: inline-block;
        vertical-align: top;
        margin: 5% 0 0 3%;
    }
    section .container .text_name_button h2 {
        font-size: 5vw;
    }
    section .container .text_name_button p {
        font-size: 4vw;
        line-height: 30px;
    }
    section .container .text_name_button .bg_button_shape {
        max-width: 40vw;
    }
    section .container .text_name_button .bg_button {
        max-width: 4vw;
        max-height: 4vw;
    }
    section .container .text_name_button .button_block form .button {
        font-size: 4vw;
    }
    section .container .bg_photo_text .layer_left {
        display: none;
    }
    section .container .bg_photo_text .layer_right {
        display: none;
    }
}


/*SECTION*/


/*№2*/

section .container {
    max-width: 1280px;
    position: relative;
    display: flex;
}

section .container .pencil {
    position: relative;
    box-sizing: border-box;
    width: 33%;
    height: 360px;
}

section .container .pencil .circle1_img_png {
    position: absolute;
    width: 190px;
    height: 190px;
    background-image: url('../Image/Shape\ 1\ copy.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    top: 65px;
}

section .container .pencil .circle1_img_png img {
    position: absolute;
    left: 55px;
    top: 45px;
}

section .container .pencil .text_links1 {
    position: absolute;
    width: 69%;
    font-size: 20px;
    text-align: center;
    left: 35%;
    top: 80%;
}

section .container .pencil .text_links1 a {
    text-decoration: none;
    color: #5094f2;
    font-size: 20px;
}

section .container .pencil .text_links1 p {
    font-size: 16px;
    padding-top: 10px;
    color: #909090;
}

section .container .pc {
    position: relative;
    box-sizing: border-box;
    width: 33%;
    height: 360px;
}

section .container .pc .circle2_img_png {
    position: absolute;
    width: 190px;
    height: 190px;
    background-image: url('../Image/Shape\ 1\ copy\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 33%;
    top: 65px;
}

section .container .pc .circle2_img_png img {
    position: absolute;
    left: 48px;
    top: 55px;
}

section .container .pc .text_links2 {
    position: absolute;
    max-width: 69%;
    font-size: 20px;
    text-align: center;
    left: 22%;
    top: 80%;
}

section .container .pc .text_links2 a {
    text-decoration: none;
    color: #5094f2;
    font-size: 20px;
}

section .container .pc .text_links2 p {
    font-size: 16px;
    padding-top: 10px;
    color: #909090;
}

section .container .bag {
    box-sizing: border-box;
    position: relative;
    width: 33%;
    height: 360px;
}

section .container .bag .circle3_img_png {
    position: absolute;
    width: 190px;
    height: 190px;
    background-image: url('../Image/Shape\ 1\ copy\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 15%;
    top: 65px;
}

section .container .bag .circle3_img_png img {
    position: absolute;
    left: 48px;
    top: 50px;
}

section .container .bag .text_links3 {
    position: absolute;
    max-width: 69%;
    font-size: 20px;
    text-align: center;
    left: 4%;
    top: 80%;
}

section .container .bag .text_links3 a {
    text-decoration: none;
    color: #5094f2;
    font-size: 20px;
}

section .container .bag .text_links3 p {
    font-size: 16px;
    padding-top: 10px;
    color: #909090;
}

@media screen and (max-width:1280px) {
    section .container {
        width: 100%;
        position: relative;
        display: flex;
    }
    section .container .pencil {
        position: relative;
        box-sizing: border-box;
        width: 33%;
        height: 360px;
    }
    section .container .pencil .circle1_img_png {
        position: absolute;
        width: 190px;
        height: 190px;
        background-image: url('../Image/Shape\ 1\ copy.png');
        background-repeat: no-repeat;
        background-size: cover;
        left: 45%;
        top: 65px;
    }
    section .container .pencil .circle1_img_png img {
        position: absolute;
        left: 55px;
        top: 45px;
    }
    section .container .pencil .text_links1 {
        position: absolute;
        width: 69%;
        font-size: 20px;
        text-align: center;
        left: 35%;
        top: 80%;
    }
    section .container .pencil .text_links1 a {
        text-decoration: none;
        color: #5094f2;
        font-size: 20px;
    }
    section .container .pencil .text_links1 p {
        font-size: 16px;
        padding-top: 10px;
        color: #909090;
    }
    section .container .pc {
        position: relative;
        box-sizing: border-box;
        width: 33%;
        height: 360px;
    }
    section .container .pc .circle2_img_png {
        position: absolute;
        width: 190px;
        height: 190px;
        background-image: url('../Image/Shape\ 1\ copy\ 2.png');
        background-repeat: no-repeat;
        background-size: cover;
        left: 31%;
        top: 65px;
    }
    section .container .pc .circle2_img_png img {
        position: absolute;
        left: 48px;
        top: 55px;
    }
    section .container .pc .text_links2 {
        position: absolute;
        max-width: 69%;
        font-size: 20px;
        text-align: center;
        left: 22%;
        top: 80%;
    }
    section .container .pc .text_links2 a {
        text-decoration: none;
        color: #5094f2;
        font-size: 20px;
    }
    section .container .pc .text_links2 p {
        font-size: 16px;
        padding-top: 10px;
        color: #909090;
    }
    section .container .bag {
        box-sizing: border-box;
        position: relative;
        width: 33%;
        height: 360px;
    }
    section .container .bag .circle3_img_png {
        position: absolute;
        width: 190px;
        height: 190px;
        background-image: url('../Image/Shape\ 1\ copy\ 3.png');
        background-repeat: no-repeat;
        background-size: cover;
        left: 12%;
        top: 65px;
    }
    section .container .bag .circle3_img_png img {
        position: absolute;
        left: 48px;
        top: 50px;
    }
    section .container .bag .text_links3 {
        position: absolute;
        max-width: 69%;
        font-size: 20px;
        text-align: center;
        left: 4%;
        top: 80%;
    }
    section .container .bag .text_links3 a {
        text-decoration: none;
        color: #5094f2;
        font-size: 20px;
    }
    section .container .bag .text_links3 p {
        font-size: 16px;
        padding-top: 10px;
        color: #909090;
    }
}

@media screen and (max-width:768px) {
    section .container {
        width: 100%;
        box-sizing: border-box;
        position: relative;
        display: block;
    }
    section .container .pencil {
        width: 100%;
        max-height: 200px;
        border-bottom: 1px solid #ccc;
    }
    section .container .pencil .circle1_img_png {
        width: 135px;
        height: 135px;
        left: 4%;
        top: 20%;
    }
    section .container .pencil .circle1_img_png img {
        height: 80px;
        width: 57px;
        left: 41px;
        top: 26px;
    }
    section .container .pencil .text_links1 {
        width: 50vw;
        font-size: 0;
        text-align: left;
        left: 40%;
        top: 35%;
        margin-left: 10px;
    }
    section .container .pencil .text_links1 a {
        font-size: 5vw;
    }
    section .container .pencil .text_links1 p {
        font-size: 3vw;
    }
    section .container .pc {
        width: 100%;
        max-height: 200px;
        border-bottom: 1px solid #ccc;
    }
    section .container .pc .circle2_img_png {
        width: 135px;
        height: 135px;
        left: 4%;
        top: 20%;
    }
    section .container .pc .circle2_img_png img {
        height: 70px;
        width: 71px;
        left: 32px;
        top: 37px;
    }
    section .container .pc .text_links2 {
        width: 50vw;
        font-size: 20px;
        text-align: left;
        left: 40%;
        top: 35%;
        margin-left: 10px;
    }
    section .container .pc .text_links2 a {
        font-size: 5vw;
    }
    section .container .pc .text_links2 p {
        font-size: 3vw;
    }
    section .container .bag {
        width: 100%;
        max-height: 200px;
        border-bottom: 1px solid #ccc;
    }
    section .container .bag .circle3_img_png {
        width: 135px;
        height: 135px;
        left: 4%;
        top: 20%;
    }
    section .container .bag .circle3_img_png img {
        height: 70px;
        width: 80px;
        left: 30px;
        top: 30px;
    }
    section .container .bag .text_links3 {
        position: absolute;
        width: 50vw;
        font-size: 20px;
        text-align: left;
        left: 40%;
        top: 35%;
        margin-left: 10px;
    }
    section .container .bag .text_links3 a {
        font-size: 5vw;
    }
    section .container .bag .text_links3 p {
        font-size: 3vw;
    }
}


/* SECTION */


/*№3*/

section .container {
    box-sizing: border-box;
    width: 100%;
}

section .container .shopping_cart {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    top: 70px;
}

section .container .shopping_cart .shopping {
    width: 50vw;
    box-sizing: border-box;
}

section .container .shopping_cart .shopping h2 {
    position: absolute;
    font-size: 3vw;
    font-weight: normal;
    color: #6f7173;
    left: 11%;
    top: 2%;
}

section .container .shopping_cart .shopping img {
    position: relative;
    width: 375px;
    height: 285px;
    top: 130px;
    left: 150px;
}

section .container .shopping_cart .text_bullet {
    position: relative;
    width: 50vw;
}

section .container .text_bullet h3 {
    font-size: 2vw;
    position: absolute;
    font-weight: normal;
    color: #6f7173;
    top: 30%;
}

section .container .text_bullet p {
    position: absolute;
    width: 100%;
    line-height: 35px;
    font-size: 16px;
    color: #6f7173;
    top: 55%;
}

@media screen and (max-width:1280px) {
    section .container {
        box-sizing: border-box;
        width: 100%;
    }
    section .container .shopping_cart {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        top: 70px;
    }
    section .container .shopping_cart .shopping {
        width: 50vw;
        box-sizing: border-box;
    }
    section .container .shopping_cart .shopping h2 {
        position: absolute;
        font-size: 3vw;
        font-weight: normal;
        color: #6f7173;
        left: 13vw;
        top: 4vh;
    }
    section .container .shopping_cart .shopping img {
        position: relative;
        width: 375px;
        height: 285px;
        top: 35vh;
        left: 12vw;
    }
    section .container .shopping_cart .text_bullet {
        position: relative;
        width: 50vw;
    }
    section .container .text_bullet h3 {
        font-size: 2vw;
        position: absolute;
        font-weight: normal;
        color: #6f7173;
        top: 30vh;
    }
    section .container .text_bullet p {
        position: absolute;
        width: 100%;
        line-height: 35px;
        font-size: 1.5vw;
        color: #6f7173;
        top: 45vh;
    }
}

@media screen and (max-width:768px) {
    sectin .container {
        max-width: 100%;
    }
    section .container .shopping_cart {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: block;
        top: 70px;
    }
    section .container .shopping_cart .shopping {
        width: 100vw;
        box-sizing: border-box;
    }
    section .container .shopping_cart .shopping h2 {
        position: absolute;
        font-size: 5.5vw;
        font-weight: normal;
        color: #6f7173;
        left: 30%;
        top: 0;
    }
    section .container .shopping_cart .shopping img {
        position: relative;
        width: 210px;
        height: 158px;
        top: 100px;
        left: 40%;
    }
    section .container .shopping_cart .text_bullet {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 300px;
        top: 150px;
    }
    section .container .text_bullet h3 {
        font-size: 5vw;
        position: absolute;
        font-weight: normal;
        color: #6f7173;
        top: 0;
        left: 10%;
    }
    section .container .text_bullet p {
        position: absolute;
        width: 90%;
        line-height: 30px;
        font-size: 2.5vw;
        color: #6f7173;
        top: 70px;
        left: 10%;
    }
}

@media screen and (max-width:500px) {
    sectin .container {
        max-width: 100%;
    }
    section .container .shopping_cart {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: block;
        top: 40px;
    }
    section .container .shopping_cart .shopping {
        width: 100vw;
        box-sizing: border-box;
    }
    section .container .shopping_cart .shopping h2 {
        position: absolute;
        font-size: 7vw;
        font-weight: normal;
        color: #6f7173;
        left: 25%;
        top: 0;
    }
    section .container .shopping_cart .shopping img {
        position: relative;
        width: 210px;
        height: 158px;
        top: 50px;
        left: 25%;
    }
    section .container .shopping_cart .text_bullet {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 300px;
        top: 60px;
    }
    section .container .text_bullet h3 {
        font-size: 6vw;
        position: absolute;
        font-weight: normal;
        color: #6f7173;
        top: 0;
        left: 7%;
    }
    section .container .text_bullet p {
        position: absolute;
        width: 90%;
        line-height: 25px;
        font-size: 2.8vw;
        color: #6f7173;
        top: 50px;
        left: 7%;
    }
}


/*FOOTER*/

footer .container {
    width: 1280px;
    position: relative;
    top: 300px;
    height: 85px;
    border-top: 1px solid #e5e5e5;
}

footer .container p {
    line-height: 85px;
    font-size: 16px;
    color: #6f7173;
    font-weight: normal;
    text-align: center;
}

@media screen and (max-width:1280px) {
    footer .container {
        width: 100%;
        position: relative;
        top: 350px;
        height: 85px;
        border-top: 1px solid #e5e5e5;
    }
    footer .container p {
        line-height: 85px;
        font-size: 16px;
        color: #6f7173;
        font-weight: normal;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    footer .container {
        width: 100%;
        position: relative;
        top: 230px;
        height: 60px;
        border-top: 1px solid #e5e5e5;
    }
    footer .container p {
        line-height: 60px;
        font-size: 13px;
        color: #6f7173;
        font-weight: normal;
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    footer .container {
        width: 100%;
        position: relative;
        top: 70px;
        height: 50px;
        border-top: 1px solid #e5e5e5;
    }
    footer .container p {
        line-height: 50px;
        font-size: 10px;
        color: #6f7173;
        font-weight: normal;
        text-align: center;
    }
}