* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    flex-basis: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row nowrap;
}

header .innovation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #367fa9;
    flex-grow: 0.1;
}

header .innovation h1 {
    padding: 12px 0;
    font-size: 21px;
    color: #fff;
}

header .innovation p {
    margin: 10px 0;
    font-size: 23px;
    text-transform: uppercase;
    color: #fff;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

header nav .burger {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 60px;
    justify-content: space-evenly;
    background-color: #3c8dbc;
}

header nav .burger .row {
    margin-left: 10px;
    width: 40px;
    height: 5px;
    background-color: #fff;
}

header nav .admin {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: #3c8dbc;
    flex-grow: 1;
}

header nav .admin .image {
    margin: 15px 30px 10px 0;
}

header nav .admin .image:nth-child(1) {
    width: 20px;
    height: 20px;
    background-image: url("../Image/962-9629587_gift-icon-png-vector-png-.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav .admin .image:nth-child(2) {
    width: 20px;
    height: 20px;
    background-image: url("../Image/4601f773e41c094849e10288a7aec5e8.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav .admin .image:nth-child(3) {
    width: 20px;
    height: 20px;
    background-image: url("../Image/64096.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav .admin .admin_port {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #3c8dbc;
    flex-basis: 200px;
}

header nav .admin .admin_port .photo {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../Image/user_avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav .admin .admin_port .photo img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

header nav .admin .admin_port p {
    margin: 0 30px 0 10px;
    font-size: 21px;
    line-height: 50px;
    color: #fff;
}

@media screen and (min-width:960px) {
    header {
        display: flex;
        flex-flow: row nowrap;
    }
    header .innovation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: #367fa9;
        flex-grow: 0.1;
    }
    header .innovation h1 {
        padding: 12px 0;
        font-size: 21px;
        color: #fff;
    }
    header .innovation p {
        margin: 10px 0;
        font-size: 23px;
        text-transform: uppercase;
        color: #fff;
    }
    header nav {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
    }
    header nav .burger {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 60px;
        justify-content: space-evenly;
        background-color: #3c8dbc;
    }
    header nav .burger .row {
        margin-left: 10px;
        width: 40px;
        height: 5px;
        background-color: #fff;
    }
    header nav .admin {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-color: #3c8dbc;
        flex-grow: 1;
    }
    header nav .admin .image {
        margin: 15px 30px 10px 0;
    }
    header nav .admin .image:nth-child(1) {
        width: 20px;
        height: 20px;
        background-image: url("../Image/962-9629587_gift-icon-png-vector-png-.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    header nav .admin .image:nth-child(2) {
        width: 20px;
        height: 20px;
        background-image: url("../Image/4601f773e41c094849e10288a7aec5e8.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    header nav .admin .image:nth-child(3) {
        width: 20px;
        height: 20px;
        background-image: url("../Image/64096.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    header nav .admin .admin_port {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: #3c8dbc;
        flex-basis: 200px;
    }
    header nav .admin .admin_port .photo {
        margin-top: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: url("../Image/user_avatar.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    header nav .admin .admin_port .photo img {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    header nav .admin .admin_port p {
        margin: 0 30px 0 10px;
        font-size: 21px;
        line-height: 50px;
        color: #fff;
    }
}

@media screen and (min-width:600px) and (max-width:960px) {
    header .innovation {
        padding: 0 35px 0 30px;
        flex-basis: 0%;
    }
    header nav .admin {
        flex-basis: 0px;
    }
    header nav .admin .image {
        margin: 15px 15px 10px 0;
    }
    header nav .admin .admin_port p {
        margin: 0 5px 0 5px;
    }
}

@media screen and (max-width:599px) {
    header {
        flex-flow: column nowrap;
    }
    header .innovation {
        flex-basis: 0px;
        padding: 0 10px 0 10px;
    }
    header nav .admin {
        flex-basis: 0px;
    }
    header nav .admin .image {
        margin: 15px 25px 10px 0;
    }
    header nav .admin .admin_port {
        margin-right: 20px;
        flex-basis: 0;
    }
    header nav .admin .admin_port p {
        font-size: 0;
        margin: 0;
    }
}


/*SECTION №2*/

.container section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

section .leftbar {
    display: flex;
    flex-flow: column nowrap;
    background-color: #222d32;
    padding: 5px;
    flex-grow: 1;
    flex-basis: 185px;
}

section .leftbar .data {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 15px 5px 5px 15px;
}

section .leftbar .data .photo_ad {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../Image/user_avatar.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .data .photo_ad img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

section .leftbar .data .name {
    margin: 5px 0 0 10px;
    flex-grow: 1;
}

section .leftbar .data .name h3 {
    font-size: 18px;
    color: #5f6c71;
    font-weight: 100;
}

section .leftbar .data .name p {
    margin-top: 3px;
    position: relative;
    padding-left: 12px;
    font-size: 16px;
    color: #5f6c71;
}

section .leftbar .data .name p::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3c763d;
}

section .leftbar .left_menu {
    display: flex;
    flex-flow: column nowrap;
}

section .leftbar .left_menu .main_nav {
    margin-top: 10px;
    padding: 15px;
    background-color: #1a2226;
}

section .leftbar .left_menu .main_nav p {
    color: #33444c;
    text-transform: uppercase;
}

section .leftbar .left_menu .admins {
    padding: 15px;
}

section .leftbar .left_menu .admins p {
    color: #5f6c71;
    position: relative;
    left: 40px;
}

section .leftbar .left_menu .admins p::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: -7px;
    background-image: url("../Image/user.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .admins p::after {
    content: "";
    position: absolute;
    right: 45px;
    width: 20px;
    height: 20px;
    background-image: url("../Image/down.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .users {
    padding: 15px;
}

section .leftbar .left_menu .users p {
    color: #5f6c71;
    position: relative;
    left: 40px;
}

section .leftbar .left_menu .users p::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: -7px;
    background-image: url("../Image/peoples.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .users p::after {
    content: "";
    position: absolute;
    right: 45px;
    width: 20px;
    height: 20px;
    background-image: url("../Image/down.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .cards {
    padding: 15px;
}

section .leftbar .left_menu .cards p {
    color: #5f6c71;
    position: relative;
    left: 40px;
}

section .leftbar .left_menu .cards p::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: -7px;
    background-image: url("../Image/card.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .cards p::after {
    content: "";
    position: absolute;
    right: 45px;
    width: 20px;
    height: 20px;
    background-image: url("../Image/down.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .catigories {
    padding: 15px;
}

section .leftbar .left_menu .catigories p {
    color: #5f6c71;
    position: relative;
    left: 40px;
}

section .leftbar .left_menu .catigories p::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -40px;
    top: -7px;
    background-image: url("../Image/categories.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .leftbar .left_menu .catigories p::after {
    content: "";
    position: absolute;
    right: 45px;
    width: 20px;
    height: 20px;
    background-image: url("../Image/down.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .elements {
    display: flex;
    flex-flow: column nowrap;
    background-color: #ecf0f5;
    flex-grow: 1;
    flex-basis: content;
}

section .elements .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px;
}

section .elements .nav .profile {
    flex-grow: 1;
}

section .elements .nav .profile p {
    font-size: 23px;
}

section .elements .nav .admin_profile {
    flex-grow: 1;
}

section .elements .nav .admin_profile p {
    position: relative;
    font-size: 18px;
    text-align: right;
    line-height: 30px;
}

section .elements .nav .admin_profile p::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 128px;
    width: 15px;
    height: 15px;
    background-image: url("../Image/64096.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section .elements .square {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section .elements .square .edit_username {
    flex-basis: 45%;
    height: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -4px 0px #33444c;
}

section .elements .square .edit_username h2 {
    font-size: 20px;
    font-weight: 100;
}

section .elements .square .edit_username p {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

section .elements .square .edit_username .text_field {
    width: 95%;
    line-height: 30px;
    border: 1px solid #d5d8e0;
    padding-left: 10px;
    font-size: 14px;
}

section .elements .square .edit_username .button {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #367fa9;
    border: 1px solid #367fa9;
    margin-top: 10px;
}

section .elements .square .edit_email {
    flex-basis: 45%;
    height: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -4px 0px #33444c;
}

section .elements .square .edit_email h2 {
    font-size: 20px;
    font-weight: 100;
}

section .elements .square .edit_email p {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

section .elements .square .edit_email .text_field {
    width: 95%;
    line-height: 30px;
    border: 1px solid #d5d8e0;
    padding-left: 10px;
    font-size: 14px;
}

section .elements .square .edit_email .button {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #367fa9;
    border: 1px solid #367fa9;
    margin-top: 10px;
}

section .elements .square .edit_password {
    flex-basis: 45%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 37px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -4px 0px #33444c;
}

section .elements .square .edit_password h2 {
    font-size: 20px;
    font-weight: 100;
}

section .elements .square .edit_password p {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

section .elements .square .edit_password .text_field {
    width: 95%;
    line-height: 30px;
    border: 1px solid #d5d8e0;
    padding-left: 10px;
    font-size: 14px;
}

section .elements .square .edit_password .button {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #367fa9;
    border: 1px solid #367fa9;
    margin-top: 10px;
}

section .elements .square .edit_image {
    flex-basis: 45%;
    height: 120px;
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 -4px 0px #33444c;
}

section .elements .square .edit_image h2 {
    font-size: 20px;
    font-weight: 100;
}

section .elements .square .edit_image form {
    margin-top: 20px;
}

section .elements .square .edit_image form input[ type='file'] {
    display: none;
}

section .elements .square .edit_image form input[ type='file']+label {
    padding: 10px;
    background-color: #367fa9;
    color: #fff;
    font-size: 14px;
}

section .elements .square .edit_image form input[ type='file']+label:hover {
    cursor: pointer;
}

section .elements .square .edit_image .button {
    width: 100px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #367fa9;
    border: 1px solid #367fa9;
    margin-top: 10px;
}

section .elements .square footer {
    flex-grow: 1;
    line-height: 40px;
    justify-content: flex-start;
    background-color: #fff;
    padding-left: 20px;
}

section .elements .square footer p {
    font-size: 14px;
}

section .elements .square footer a {
    text-decoration: none;
    color: #367fa9;
}

@media screen and (min-width:600px) and (max-width:960px) {
    section .leftbar {
        padding: 5px;
        flex-grow: 0;
        flex-basis: 210px;
    }
    section .elements .nav {
        flex-flow: column nowrap;
        justify-content: center;
        padding: 15px;
    }
    section .elements .nav .admin_profile {
        background-color: #d2d6de;
        flex-grow: 1;
    }
    section .elements .nav .admin_profile p {
        position: relative;
        font-size: 18px;
        text-align: left;
        line-height: 30px;
        padding-left: 20px;
    }
    section .elements .nav .admin_profile p::before {
        left: 0;
    }
    section .elements .square {
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    section .elements .square .edit_username {
        flex-basis: 100%;
        margin: 20px;
    }
    section .elements .square .edit_username .text_field {
        width: 95%;
    }
    section .elements .square .edit_email {
        flex-basis: 100%;
        margin: 20px;
    }
    section .elements .square .edit_email .text_field {
        width: 95%;
    }
    section .elements .square .edit_password {
        flex-basis: 100%;
        margin: 20px;
    }
    section .elements .square .edit_password .text_field {
        width: 95%;
    }
    section .elements .square .edit_image {
        flex-basis: 100%;
        margin: 20px;
        padding: 10px;
    }
}

@media screen and (max-width:599px) {
    section .leftbar {
        display: none;
    }
    section .elements .nav {
        flex-flow: column nowrap;
        justify-content: center;
        padding: 15px;
    }
    section .elements .nav .admin_profile {
        background-color: #d2d6de;
        flex-grow: 1;
    }
    section .elements .nav .admin_profile p {
        position: relative;
        font-size: 18px;
        text-align: left;
        line-height: 30px;
        padding-left: 20px;
    }
    section .elements .nav .admin_profile p::before {
        left: 0;
    }
    section .elements .square {
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    section .elements .square .edit_username {
        flex-basis: 100%;
        margin: 20px;
    }
    section .elements .square .edit_username .text_field {
        width: 95%;
    }
    section .elements .square .edit_email {
        flex-basis: 100%;
        margin: 20px;
    }
    section .elements .square .edit_email .text_field {
        width: 95%;
    }
    section .elements .square .edit_password {
        flex-basis: 100%;
        margin: 20px;
    }
    section .elements .square .edit_password .text_field {
        width: 95%;
    }
    section .elements .square .edit_image {
        flex-basis: 100%;
        margin: 20px;
        padding: 10px;
    }
}