main .myPhoto,
main .info {
    vertical-align: top;
}

main .myPhoto {
    width: 25%;
    background-image: url("../image/IMG_5696.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .info {
    width: 60%;
    text-align: justify;
    font-size: 21px;
    text-indent: 20px;
    background-color: rgb(216, 216, 216);
}

main .info p {
    padding: 10px 0;
}